body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}
.searchbox{
  width: 100%;
  margin: 10px auto;
}
.header{
  background: #f9f9f9;
  overflow: hidden;
  padding: 2px 20px 12px;
  text-align: center;
}
.header h1{
  text-transform: uppercase;
  color: black;
  margin: 0;
  margin-bottom: 8px;
}
.header h2{
  text-transform: uppercase;
  text-align:right;
  color: black;
  margin: 0;
  margin-bottom: 1px;
}
#value{
  font: inherit;
  border: 0;
  height: 1.1876em;
  margin: 5px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 12px 12px;
  min-width: 0;
  background: f2f2f2;
  box-sizing: content-box;
  letter-spacing: inherit;
  animation-duration: 10ms;
  font-size: 18px;
  width: 98%;
  color: currentColor;
}
#value:focus{
  outline: none;
}
.container{
  background: #f9f9f9;
  padding: 1px 12px 12px;
}
.item{
  margin: 0.15% 8px;
  height: 45px;
  padding: 8px 1px 8px;
  background: #ffffff;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.icon{
  width: 350px;
  height: 25px;
  background-color:rgba(145,154,255,0.4);
  background-size:auto;
  background-repeat: repeat;
  color: black;
  font-size: 0.875rem;
  font-weight: Bold;
  text-align: center;
  text-shadow: 0 0 3px #ffffff;
  line-height: 25px;
  border-radius: 25px;
  margin-left: 0px;
}
.name{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
  font-weight: 470;
  padding: 16px;
  color: #000000;
}
.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.MuiButtonBase-root::-moz-focus-inner {
  border-style: none;
}
.MuiButtonBase-root.Mui-disabled {
  cursor: default;
  pointer-events: none;
}
@media print {
  .MuiButtonBase-root {
    -webkit-print-color-adjust: exact;
  }
}
.MuiTouchRipple-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}
.MuiTouchRipple-ripple {
  opacity: 0;
  position: absolute;
}
.MuiTouchRipple-rippleVisible {
  opacity: 0.3;
  animation: MuiTouchRipple-keyframes-enter 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}
.MuiTouchRipple-ripplePulsate {
  animation-duration: 200ms;
}
.MuiTouchRipple-child {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 1;
  border-radius: 50%;
  background-color: currentColor;
}
.MuiTouchRipple-childLeaving {
  opacity: 0;
  animation: MuiTouchRipple-keyframes-exit 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.MuiTouchRipple-childPulsate {
  top: 0;
  left: 0;
  position: absolute;
  animation: MuiTouchRipple-keyframes-pulsate 2500ms cubic-bezier(0.4, 0, 0.2, 1) 200ms infinite;
}
@-webkit-keyframes MuiTouchRipple-keyframes-enter {
  0% {
    opacity: 0.1;
    transform: scale(0);
  }
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}
@-webkit-keyframes MuiTouchRipple-keyframes-exit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes MuiTouchRipple-keyframes-pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(1);
  }
}
.MuiButton-root {
  color: rgba(0,0,0,0.87);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}
.MuiButton-root:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.04);
}
.MuiButton-root.Mui-disabled {
  color: rgba(0,0,0,0.26);
}
@media (hover: none) {
  .MuiButton-root:hover {
    background-color: transparent;
  }
}
.MuiButton-root:hover.Mui-disabled {
  background-color: transparent;
}
.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.MuiButton-text {
  padding: 6px 8px;
}
.MuiButton-textPrimary {
  color: #919aff;
}
.MuiButton-textPrimary:hover {
  background-color: rgba(145, 154, 255, 0.04);
}
@media (hover: none) {
  .MuiButton-textPrimary:hover {
    background-color: transparent;
  }
}
.MuiButton-textSecondary {
  color: #919aff;
}
.MuiButton-textSecondary:hover {
  background-color: rgba(145, 154, 255, 0.04);
}
@media (hover: none) {
  .MuiButton-textSecondary:hover {
    background-color: transparent;
  }
}
.MuiButton-outlined {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 5px 15px;
}
.MuiButton-outlined.Mui-disabled {
  border: 1px solid rgba(0,0,0,0.12);
}
.MuiButton-outlinedPrimary {
  color: #919aff;
  border: 1px solid rgba(145, 154, 255, 0.5);
}
.MuiButton-outlinedPrimary:hover {
  border: 1px solid #919aff;
  background-color: rgba(145, 154, 255, 0.04);
}
@media (hover: none) {
  .MuiButton-outlinedPrimary:hover {
    background-color: transparent;
  }
}
.MuiButton-outlinedSecondary {
  color: #919aff;
  border: 1px solid rgba(145, 154, 255, 0.5);
}
.MuiButton-outlinedSecondary:hover {
  border: 1px solid #919aff;
  background-color: rgba(145, 154, 255, 0.04);
}
.MuiButton-outlinedSecondary.Mui-disabled {
  border: 1px solid rgba(0,0,0,0.26);
}
@media (hover: none) {
  .MuiButton-outlinedSecondary:hover {
    background-color: transparent;
  }
}
.MuiButton-contained {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
  background-color: #e0e0e0;
}
.MuiButton-contained:hover {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  background-color: #d5d5d5;
}
.MuiButton-contained.Mui-focusVisible {
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
}
.MuiButton-contained:active {
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
}
.MuiButton-contained.Mui-disabled {
  color: rgba(0,0,0,0.26);
  box-shadow: none;
  background-color: rgba(0,0,0,0.12);
}
@media (hover: none) {
  .MuiButton-contained:hover {
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    background-color: #e0e0e0;
  }
}
.MuiButton-contained:hover.Mui-disabled {
  background-color: rgba(0,0,0,0.12);
}
.MuiButton-containedPrimary {
  color: rgba(0, 0, 0, 0.87);
  background-color: #919aff;
}
.MuiButton-containedPrimary:hover {
  background-color: rgb(101, 107, 178);
}
@media (hover: none) {
  .MuiButton-containedPrimary:hover {
    background-color: #919aff;
  }
}
.MuiButton-containedSecondary {
  color: rgba(0, 0, 0, 0.87);
  background-color: #919aff;
}
.MuiButton-containedSecondary:hover {
  background-color: rgb(101, 107, 178);
}
@media (hover: none) {
  .MuiButton-containedSecondary:hover {
    background-color: #919aff;
  }
}
.MuiButton-disableElevation {
  box-shadow: none;
}
.MuiButton-disableElevation:hover {
  box-shadow: none;
}
.MuiButton-disableElevation.Mui-focusVisible {
  box-shadow: none;
}
.MuiButton-disableElevation:active {
  box-shadow: none;
}
.MuiButton-disableElevation.Mui-disabled {
  box-shadow: none;
}
.MuiButton-colorInherit {
  color: inherit;
  border-color: currentColor;
}
.MuiButton-textSizeSmall {
  padding: 4px 5px;
  font-size: 0.8125rem;
}
.MuiButton-textSizeLarge {
  padding: 8px 11px;
  font-size: 0.9375rem;
}
.MuiButton-outlinedSizeSmall {
  padding: 3px 9px;
  font-size: 0.8125rem;
}
.MuiButton-outlinedSizeLarge {
  padding: 7px 21px;
  font-size: 0.9375rem;
}
.MuiButton-containedSizeSmall {
  padding: 1px 0px;
  font-size: 0.75rem;
}
.MuiButton-containedSizeLarge {
  padding: 8px 22px;
  font-size: 0.9375rem;
}
.MuiButton-fullWidth {
  width: 100%;
}
.MuiButton-startIcon {
  display: inherit;
  margin-left: -4px;
  margin-right: 8px;
}
.MuiButton-startIcon.MuiButton-iconSizeSmall {
  margin-left: -2px;
}
.MuiButton-endIcon {
  display: inherit;
  margin-left: 8px;
  margin-right: -4px;
}
.MuiButton-endIcon.MuiButton-iconSizeSmall {
  margin-right: -2px;
}
.MuiButton-iconSizeSmall > *:first-child {
  font-size: 18px;
}
.MuiButton-iconSizeMedium > *:first-child {
  font-size: 20px;
}
.MuiButton-iconSizeLarge > *:first-child {
  font-size: 22px;
}
.MuiButtonGroup-root {
  display: inline-flex;
  border-radius: 4px;
}
.MuiButtonGroup-contained {
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
}
.MuiButtonGroup-disableElevation {
  box-shadow: none;
}
.MuiButtonGroup-fullWidth {
  width: 100%;
}
.MuiButtonGroup-vertical {
  flex-direction: column;
}
.MuiButtonGroup-grouped {
  min-width: 32px;
}
.MuiButtonGroup-groupedHorizontal:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.MuiButtonGroup-groupedHorizontal:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.MuiButtonGroup-groupedHorizontal:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.MuiButtonGroup-groupedHorizontal:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.MuiButtonGroup-groupedVertical:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.MuiButtonGroup-groupedVertical:not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.MuiButtonGroup-groupedTextHorizontal:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.23);
}
.MuiButtonGroup-groupedTextVertical:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
}
.MuiButtonGroup-groupedTextPrimary:not(:last-child) {
  border-color: rgba(145, 154, 255, 0.5);
}
.MuiButtonGroup-groupedTextSecondary:not(:last-child) {
  border-color: rgba(145, 154, 255, 0.5);
}
.MuiButtonGroup-groupedOutlinedHorizontal:not(:first-child) {
  margin-left: -1px;
}
.MuiButtonGroup-groupedOutlinedHorizontal:not(:last-child) {
  border-right-color: transparent;
}
.MuiButtonGroup-groupedOutlinedVertical:not(:first-child) {
  margin-top: -1px;
}
.MuiButtonGroup-groupedOutlinedVertical:not(:last-child) {
  border-bottom-color: transparent;
}
.MuiButtonGroup-groupedOutlinedPrimary:hover {
  border-color: #919aff;
}
.MuiButtonGroup-groupedOutlinedSecondary:hover {
  border-color: #919aff;
}
.MuiButtonGroup-groupedContained {
  box-shadow: none;
}
.MuiButtonGroup-groupedContainedHorizontal:not(:last-child) {
  border-right: 1px solid #bdbdbd;
}
.MuiButtonGroup-groupedContainedHorizontal:not(:last-child).Mui-disabled {
  border-right: 1px solid rgba(0,0,0,0.26);
}
.MuiButtonGroup-groupedContainedVertical:not(:last-child) {
  border-bottom: 1px solid #bdbdbd;
}
.MuiButtonGroup-groupedContainedVertical:not(:last-child).Mui-disabled {
  border-bottom: 1px solid rgba(0,0,0,0.26);
}
.MuiButtonGroup-groupedContainedPrimary:not(:last-child) {
  border-color: rgb(101, 107, 178);
}
.MuiButtonGroup-groupedContainedSecondary:not(:last-child) {
  border-color: rgb(101, 107, 178);
}
.MuiIconButton-root {
  flex: 0 0 auto;
  color: rgba(0,0,0,0.54);
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}
.MuiIconButton-root:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.MuiIconButton-root.Mui-disabled {
  color: rgba(0,0,0,0.26);
  background-color: transparent;
}
@media (hover: none) {
  .MuiIconButton-root:hover {
    background-color: transparent;
  }
}
.MuiIconButton-edgeStart {
  margin-left: -12px;
}
.MuiIconButton-sizeSmall.MuiIconButton-edgeStart {
  margin-left: -3px;
}
.MuiIconButton-edgeEnd {
  margin-right: -12px;
}
.MuiIconButton-sizeSmall.MuiIconButton-edgeEnd {
  margin-right: -3px;
}
.MuiIconButton-colorInherit {
  color: inherit;
}
.MuiIconButton-colorPrimary {
  color: #919aff;
}
.MuiIconButton-colorPrimary:hover {
  background-color: rgba(145, 154, 255, 0.04);
}
@media (hover: none) {
  .MuiIconButton-colorPrimary:hover {
    background-color: transparent;
  }
}
.MuiIconButton-colorSecondary {
  color: #919aff;
}
.MuiIconButton-colorSecondary:hover {
  background-color: rgba(145, 154, 255, 0.04);
}
@media (hover: none) {
  .MuiIconButton-colorSecondary:hover {
    background-color: transparent;
  }
}
.MuiIconButton-sizeSmall {
  padding: 3px;
  font-size: 1.125rem;
}
.MuiIconButton-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}
.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.MuiSvgIcon-colorPrimary {
  color: #919aff;
}
.MuiSvgIcon-colorSecondary {
  color: #919aff;
}
.MuiSvgIcon-colorAction {
  color: rgba(0,0,0,0.54);
}
.MuiSvgIcon-colorError {
  color: #f44336;
}
.MuiSvgIcon-colorDisabled {
  color: rgba(0,0,0,0.26);
}
.MuiSvgIcon-fontSizeInherit {
  font-size: inherit;
}
.MuiSvgIcon-fontSizeSmall {
  font-size: 1.25rem;
}
.MuiSvgIcon-fontSizeLarge {
  font-size: 2.1875rem;
}
